.sidebar {
    width: 0;
    background-color: #a4a4a4;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    transition-property: width opacity;
    transition-duration: .3s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a{
    width: 80%;
    display: inline-block;
    padding: 5px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
    transition-property: color;
    transition-duration: .5s;
}

.sidebar a:hover, .sidebar a:focus{
    color: #5E2075;
}

.sidebar a.custom-link:hover{
    color: red;
}

.sidebar a:nth-child(3){
    border: none;
}

.links-sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar.open{
    opacity: 1;
    width: 70%;
}

.fechar-sidebar{
    position: relative;
    left: 38%;
    top: 2%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

