form{
    display: flex;
    flex-direction: column;
}

label{
    color: #5E2075;
}

input{
    border: none;
    background-color: #EFEFEF;
    border-radius: 50px;
    width: 15.625rem;
    height: 1.75rem;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, .25);
}

input:nth-child(2){
    margin-bottom: 2rem;
}