:root{
    --roxo-padrao: #5E2075;
    --roxo-hover: #4c1d5d;
    --laranja-padrao: #FE690E;
    --laranja-hover:#c54708;
}

.registro{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.divPurple-registro{
    background-image: linear-gradient(var(--roxo-padrao) 50%, var(--laranja-padrao));
}

.divPurple-registro h2{
    display: none;
}

.logo-emakers-branca{
    margin-top: 1rem;
    width: 100%;
    height: 200px;
    background-image: url(../assets/logo-branca.png);
    background-position: 58% 50%;
    background-size: 150%;
}

.divWhite-registro{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

h1{
    font-size: 3rem;
    font-weight: 400;
    color: var(--roxo-padrao)
}

@media screen and (min-width:48rem){
    .registro{
        flex-direction: row-reverse;
    }

    .divPurple-registro{
        width: 62.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .divPurple-registro h2{
        display: block;
        font-weight: 400;
        color: white;
        font-size: 3rem;
        width: 75%;
        text-align: center;
        position: relative;
        top: -10%
    }

    .logo-emakers-branca{
        height: 100%;
        background-size: 200%;
        background-position: 53% 50%;
    }

    .divWhite-registro{
        width: 37.5%;
    }

    .divWhite-registro h1{
        margin: 0;
        font-weight: 800;
    }

}